.not-found-page-content {
    margin-top: 163px;
    margin-bottom: 163px;
    font-family: Arial, Helvetica, sans-serif;
}

.not-found-page-content img {
    width: 20%;
    margin-bottom: 20px;
}

.not-found-page-content h1 {
    font-size: 32px;
    color: #333;
}

.not-found-page-content p {
    font-size: 18px;
    color: #777;
    margin-bottom: 20px;
}

.not-found-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.not-found-link:hover{
    color: black;
}